.container {
  text-align: center;
  position: relative;
  top: 5em;
  left: 25em;
  box-shadow: 4px -11px 12px 8px rgba(168, 168, 168, 0.43);
  width: 35em;
  height: 25em;
  padding-top: 30px;
  border: 2px solid rgb(134, 129, 129);
  border-radius: 10px;
}

.email,
.password {
  width: 25em;
  height: 3em;
  border: 2px solid rgb(134, 129, 129);
  border-radius: 4px;
}
.password {
  margin-top: 6px;
}

.icon {
  position: relative;
  left: 20px;
  right: 20px;
}

.Forgot {
  margin-left: 5em;
}

.login {
  margin-top: 20px;
  width: 25em;
  height: 3em;
  border-style: none;
  border-radius: 20px;
  background: green;
}
