.button button {
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
  }

  .button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}
  .Home {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 21px;  
  }
  
  .Trade {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 21px;  
  }
  
  .Donation {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 21px;  
  }
  
  .Points {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 21px;  
  }
  
  .button button:hover {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 21px;  
  }