.container {
  text-align: center;
  position: relative;
  top: 5em;
  left: 25em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 30em;
  height: 23em;
  padding-top: 2px;
  border: 2px solid rgb(134, 129, 129);
  border-style: none;
  border-radius: 10px;
}

.email,
.password {
  width: 25em;
  height: 3em;
  border: 2px solid rgb(231, 228, 228);
  border-radius: 4px;
}
.password {
  margin-top: 6px;
}

.icon {
  position: relative;
  left: 20px;
  right: 20px;
}

.Forgot {
  margin-left: 5em;
  font-size: 12px;
}

.register,
.remember {
  font-size: 12px;
}

.login {
  margin-top: 20px;
  width: 25em;
  height: 3em;
  border-style: none;
  border-radius: 20px;
  background: #00b207;
  color: white;
}
